table
{
    border-bottom: 1px solid;
    border-color:lightgray ;
    font-size: large;

}

table, th, td
{
    
    border-bottom: 1px solid;
}

table
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    /* font-size: 15px; */
    border-collapse: collapse;
}


th, td
{
    padding: 30px;
    border-color:lightgray;
}

th
{
    font-size: 20px;
    background-color: dodgerblue;
    color: white;
}

/* tbody:nth-child(even)
{
    background-color: rgba(240, 240, 141, 0.459);
} */

tbody :hover
{
    background-color: rgba(255, 140, 0, 0.295);
}


.container
{
    width: 80%;
    margin: auto;
}

.grade1:hover
{
    background-color:rgb(28, 230, 28);
    border-radius: 10px;
    padding: 3px 5px;
    display:grid;
}



.Average1:hover
{
    background-color:red;
    border-radius: 10px;
    padding: 3px 5px;
    display:grid;
}


.ex2:hover
{
    background-color:rgb(28, 230, 28);
    border-radius: 10px;
    padding: 3px 5px;
    display:grid;
}



.grade2:hover
{
    background-color:yellow;
    border-radius: 10px;
    padding: 3px 5px;
    display:grid;
}